<div class="flex-grow flex flex-col">
  <h1><%= @campaign.title %></h1>
  <bottle-dungeon-app
    token="<%= assigns[:user_token] %>"
    campaign="<%= @campaign.id %>">
  </bottle-dungeon-app>
</div>

<script
  type="text/javascript"
  src="<%= Routes.static_path(@conn, "/js/play.js") %>">
</script>
